<div class="data-table" *ngIf="products$ | async as products">
    <div>
        <button mat-raised-button color="primary" routerLink="/product/new">{{'manageProduct.addProduct' | translate}}</button>
    </div>
    <app-data-table [displayedColumns]="displayedColumns" [items]="products" (productIdEvent)="onProductIdChange($event)">
    </app-data-table>
</div>