<mat-card class="product-card" *ngIf="product.title" appMaterialElevation>
    <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{product.title}}</mat-card-title>
    </mat-card-header>
    <img *ngIf="imageUrl" mat-card-image [src]="imageUrl" class="preview-img" alt="Photo of product">
    <mat-card-content>
        <span *ngIf="product.price"><b> {{'productForm.price' | translate}}</b>: {{product.price | currency:'฿'}}</span>
        <span *ngIf="product.code"><b> {{'productForm.code' | translate}}</b>: {{product.code}}</span>
        <span *ngIf="product.color"> <b> {{'productForm.colour' | translate}}</b>: {{product.color}}</span>
        <span *ngIf="product.size"> <b> {{'productForm.size' | translate}}</b>: {{product.size}}</span>
        <br>
        <span class="red" *ngIf="product.quantity"> <b> {{'productForm.quantity' | translate}}</b>:
            {{product.quantity}}</span>
        <span class="red" *ngIf="product.quantity===0"><br> <b> {{'common.outOfStock' | translate}}</b></span>
        <pre>{{product.detail}}</pre>
    </mat-card-content>
</mat-card>