.product-card {
    max-width: 350px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

.preview-img {
    max-width: 340px;
    max-height: 350px;
    width: auto;
    height: auto;
}

.red{
    color: red;
}