<div>
    <mat-card class="margin">
        <mat-card-header>
            <H2>
                นโยบาย
            </H2>
        </mat-card-header>
        <mat-card-content>
            <H3>
                นโยบายความเป็นส่วนตัว
            </H3>
            <H4>
                ปรับปรุงล่าสุด: 15 มิถุนายน พ.ศ.2563
            </H4>
            <pre>
                    เรามุ่งมั่นที่จะปกป้องข้อมูลส่วนบุคคลของคุณ
         นโยบายความเป็นส่วนตัว(รวมถึงข้อกำหนดในการให้บริการของเราที่ระบุใน
        https://livehelper-hady.firebaseapp.com/policy และเอกสารอื่นใดที่มีการอ้างอิงถึงในเอกสารนี้)
        ได้ระบุถึงวิธีการที่ข้อมูลส่วนบุคคลของคุณที่เราเก็บมาจากคุณหรือที่คุณมอบให้กับเรานั้นจะถูกนำไปใช้งาน
        ประมวลผลหรือเปิดเผยให้กับเรา ทั้งนี้ รวมทั้งข้อมูลที่จะนำมาใช้
        เพื่อปรับเปลี่ยนโฆษณา ที่ได้จัดทำให้แก่คุณด้วย นโยบายความเป็นส่วนตัวนี้
        เป็นการระบุถึงประเภทของข้อมูลส่วนบุคคลที่เราเก็บรวบรวม วิธีการรักษาความปลอดภัย
        ตลอดจนวิธีที่คุณสามารถเข้าถึงหรือแก้ไขข้อมูลส่วนบุคคลของคุณที่เราจัดเก็บไว้ได้
        นโยบายความเป็นส่วนตัวนี้ได้ครอบคลุมถึงการใช้งานเว็บไซต์ตลอดจนวิธีการอื่นใด
        ก็ตามที่คุณสามารถเชื่อมต่อหรือโต้ตอบกับเราผ่านการใช้ผลิตภัณฑ์และบริการของเราได้
        ซึ่งต่อไปในที่นี้จะเรียกรวมกันว่าบริการต่าง ๆ

                โปรดอ่านข้อมูลต่อไปนี้อย่างรอบคอบเพื่อทำความเข้าใจเกี่ยวกับนโยบายและการปฏิบัติของเราเกี่ยวกับข้อมูลส่วนบุคคลของคุณ
        รวมทั้งวิธีที่เราจะปฏิบัติตาม
        นโยบายดังกล่าวด้วย เว้นแต่จะมีกฏหมายกำหนดใช้บังคับโดยประการอื่น
        คุณตกลงที่จะให้ข้อมูลส่วนบุคคลทั้งหมดที่เกี่ยวข้องกับคุณที่เราได้เก็บรวบรวมไว้
        หรือที่คุณได้ให้ไว้เป็นครั้งคราวนี้ สามารถนำไปใช้ประมวลผล และเปิดเผยเพื่อวัตถุประสงค์ดังกล่าว
        และต่อบุคคลดังกล่าวตามที่กำหนดไว้ในนโยบายความเป็นส่วนตัวฉบับนี้ได้
        เราสามารถแก้ไขนโยบายความเป็นส่วนตัวนี้ได้ทุกเมื่อโดยการโพสต์ฉบับแก้ไขลงในเว็บไซต์
        แม้ว่าเราจะมีการแจ้งให้แต่ละบุคคลทราบทุกครั้งที่มีการแก้ไขนโยบายก็ตาม
        ขอให้ถือว่าคุณได้รับทราบและยอมรับในนโยบายความเป็นส่วนตัวที่มีการแก้ไขดังกล่าวแล้ว หากคุณได้ใช้เว็บไซต์
        หรือบริการต่าง ๆ ของเราต่อไปหลังจากการเปลี่ยนแปลง
        มีผลบังคับ
        คุณจะได้รับการแจ้งให้ตรวจสอบเว็บไซต์นี้เป็นครั้งคราวเพื่อรับทราบการปรับปรุงนโยบายความเป็นส่วนตัวนี้
        
        <b>1. การเก็บรวบรวมข้อมูลส่วนบุคคล</b>
        คุณสามารถเลือกเรียกดูเว็บไซต์หรือบริการต่างๆ ของเราได้โดยไม่ต้องเปิดเผยข้อมูลส่วนบุคคลของคุณ
        คุณไม่จำเป็นต้องให้ข้อมูลส่วนบุคคลเป็นเงื่อนไขในการเข้าใช้งานเว็บไซต์
        หรือบริการต่าง ๆ ของเรา เว้นแต่ในกรณีที่จำเป็นสำหรับเราเพื่อทำการจัดหาผลิตภัณฑ์และบริการที่คุณซื้อ
        หรือเข้าถึงผ่านเว็บไซต์ หรือบริการต่าง ๆ ของเราหรือเพื่อตอบสนอง
        ต่อคำขอของคุณ หรือในกรณีที่คุณได้ทำการติดต่อเราโดยวิธีใดอื่นที่ไม่ได้กล่าวถึง เมื่อคุณใช้บริการของเรา
        เราจะเก็บรวบรวมข้อมูลต่าง ๆ จากคุณและที่เกี่ยวกับคุณ
        อุปกรณ์ของคุณและการโต้ตอบของคุณกับบริการต่าง ๆ ข้อมูลบางส่วนนี้ระบุตัวคุณโดยตรง
        หรือสามารถใช้เพื่อระบุตัวคุณได้อย่างรวดเร็วเมื่อรวมกับข้อมูลอื่น ๆ
            1.1 ข้อมูลที่คุณยินดีมอบให้แก่เรา เมื่อใช้บริการต่างๆ ของเรา คุณอาจถูกขอให้จัดทำขึ้นซึ่งข้อมูลส่วนบุคคลเกี่ยวกับตัวคุณ อาทิเช่น ชื่อ ข้อมูลการติดต่อ
            ข้อมูลการชำระเงินรายละเอียดเกี่ยวกับอสังหาริมทรัพย์หรือทรัพย์สินที่คุณสนใจ รวมไปถึงข้อมูลทางการเงิน ซึ่งอาจเกิดขึ้นได้ดังตัวอย่างเช่น
                • เมื่อคุณทำธุรกรรมกับเรา ที่เกี่ยวข้องกับกับเว็บไซต์ หรือบริการต่าง ๆ ของเรา
                • เมื่อคุณลงทะเบียนบัญชีกับเราทางเว็บไซต์ หรือบริการต่าง ๆ ของเรา
                • เมื่อคุณติดต่อฝ่ายบริการลูกค้าหรือพนักงานขายของเราทางอีเมล โทรศัพท์ หรือติดต่อด้วยตนเองเพื่อให้ทำการแก้ไขปัญหาที่คุณอาจเผชิญอยู่
                หรือทำการสอบถามหรือร้องขอ
                • เมื่อคุณสมัครรับบริการต่างๆ ที่เราให้บริการบนเว็บไซต์ หรือบริการต่าง ๆ ของเรา หรือสำหรับการแจ้งเตือนทางอีเมล และ/หรือจดหมายข่าวของเรา
                • เมื่อคุณติดต่อกับผู้เชี่ยวชาญด้านอสังหาริมทรัพย์ (เช่น ตัวแทนอสังหาริมทรัพย์หรือนายหน้า ผู้รับจำนองหรือเจ้าหน้าที่สินเชื่อ ผู้จัดการทรัพย์สิน
                นักลงทุน ผู้สร้างบ้านหรืออื่นๆ ) ผ่านทางบริการต่าง ๆ ของเรา
                • เมื่อคุณกรอกแบบฟอร์มหรือทำธุรกรรมอื่น ๆ อาทิเช่น การขอข้อมูลสินเชื่อหรือการเช่าที่อยู่อาศัยและการตรวจสอบประวัติการทำงาน
                • คุณอาจให้ข้อมูลเกี่ยวกับบุคคลที่สามผ่านทางบริการต่าง ๆได้ เช่น ถ้าคุณแบ่งปันรายชื่ออสังหาริมทรัพย์กับผู้รับผ่านทางอีเมลหรือข้อความข้อมูลบางอย่าง
                ที่คุณได้ให้ไว้ผ่านทางบริการต่างๆ ของเราจะถูกรวบรวมและประมวลผลโดยบุคคลที่สาม (เช่น Google Analytics, Facebook Develop) ในนามของเรา
            1.2 คุกกี้ พิกเซลและกลไกการติดตามอื่น ๆ เราและคู่ค้าของเราใช้เทคโนโลยีต่าง ๆ ในการรวบรวมข้อมูลโดยอัตโนมัติเมื่อคุณเข้าถึงและใช้งานบริการของเรา
            รวมทั้งคุกกี้และเทคโนโลยีอื่นใดที่คล้ายคลึงกัน คุกกี้เป็นข้อมูลอิเล็กทรอนิกส์ที่สามารถถ่ายโอนไปยังคอมพิวเตอร์หรืออุปกรณ์อิเล็กทรอนิกส์อื่น ๆ เพื่อระบุบราวเซอร์
            ของคุณได้โดยไม่ซ้ำกัน เมื่อคุณใช้บริการเราและคู่ค้าของเรา เราอาจวางคุกกี้อย่างน้อยหนึ่งรายการในคอมพิวเตอร์หรืออุปกรณ์อิเล็กทรอนิกส์อย่างอื่นของคุณ
            หรือใช้เทคโนโลยีอื่นใดที่มีฟังก์ชันการทำงานที่คล้ายคลึงกันได้
                • เราและคู่ค้าของเราอาจใช้คุกกี้เพื่อเชื่อมต่อกิจกรรมของคุณในบริการต่าง ๆ กับข้อมูลอื่น ๆ ที่เราจัดเก็บเกี่ยวกับคุณในโปรไฟล์บัญชีของคุณ หรือการติดต่อ
                ก่อนหน้าของคุณในบริการของเรา เช่น จัดเก็บค่าที่คุณกำหนดไว้ การใช้คุกกี้ช่วยให้เราสามารถปรับปรุงคุณภาพบริการของเราให้กับคุณได้โดยการระบุข้อมูล
                ที่น่าสนใจที่สุดสำหรับคุณการติดตามกระแสต่าง ๆ การวัดประสิทธิภาพของการโฆษณาหรือการจัดเก็บข้อมูลที่คุณต้องการเรียกใช้เป็นประจำ
                เช่น ฟีเจอร์หรือการค้นหาที่ต้องการ คุณสามารถปรับการตั้งค่าในบราวเซอร์เพื่อปฏิเสธคุกกี้ตามคำแนะนำที่เกี่ยวข้องกับบราวเซอร์ของคุณได้ตลอดเวลา
                อย่างไรก็ตามหากคุณเลือกปิดการใช้งานคุกกี้ การแสดงผลอิสระของบริการต่าง ๆ ก็อาจไม่ทำงานอย่างถูกต้อง
                • หน้าเว็บไซต์บางหน้าของเราอาจมีพิกเซลซึ่งเป็นไฟล์อิเล็กทรอนิกส์เพื่อนับจำนวนผู้ใช้งานที่เข้าชมหน้าเว็บดังกล่าวเพื่อติดตามกิจกรรมในแต่ละช่วงเวลา
                และในเว็บไซต์ต่างๆ เพื่อประมวลการโต้ตอบของผู้ใช้งานกับอีเมลที่เราส่ง เพื่อระบุคุกกี้บางอย่างในคอมพิวเตอร์หรืออุปกรณ์อิเล็กทรอนิกส์อื่นๆ
                ที่เข้าถึงหน้าเว็บนั้น หรือเพื่อรวบรวมข้อมูลที่เกี่ยวข้องอื่นๆ และข้อมูลนี้อาจเชื่อมโยงกับบราวเซอร์ ตัวระบุอุปกรณ์หรือที่อยู่ IP ที่ไม่ซ้ำกันของคุณ
                ตัวอย่างเช่น เราอาจใช้พิกเซลกับบริการบางอย่างที่คุณดูรายชื่อบางรายการเพื่อให้เราสามารถติดตามได้ว่ารายชื่อมีความเกี่ยวข้องกับคุณหรือไม่
                โดยในขณะที่เสนอคำแนะนำผ่านพิกเซลและคุกกี้เหล่านี้ เราได้รวบรวมข้อมูลเกี่ยวกับการใช้บริการของเรารวมถึงประเภทของบราวเซอร์ที่คุณใช้ เวลาในการเข้าถึง
                หน้าเว็บที่ดู ที่อยู่ IP ของคุณและหน้าเว็บที่คุณได้เข้าชมก่อนที่จะไปยังบริการต่าง ๆ ของเรา
                • อีกทั้งเรายังได้รวบรวมข้อมูลเกี่ยวกับคอมพิวเตอร์หรืออุปกรณ์เคลื่อนที่ที่คุณใช้เพื่อเข้าถึงบริการต่าง ๆ ของเราด้วย อาทิเช่น รูปแบบฮาร์ดแวร์
                ระบบปฏิบัติการและเวอร์ชั่น ตัวระบุอุปกรณ์เฉพาะ ข้อมูลเครือข่ายโทรศัพท์มือถือ รวมทั้งพฤติกรรมการท่องเว็บด้วย
                • เราสามารถอนุญาตให้บุคคลที่สามบางรายทำการรวบรวมข้อมูลเกี่ยวกับกิจกรรมออนไลน์ของคุณผ่านทางคุกกี้และเทคโนโลยีอื่น ๆ เมื่อคุณเข้าใช้งานเว็บไซต์
                หรือแอพฯ โดยบุคคลที่สามเหล่านี้รวมถึง (ก) คู่ค้าทางธุรกิจซึ่งรวบรวมข้อมูลเมื่อคุณดูหรือโต้ตอบกับโฆษณาใดๆ บนเว็บไซต์หรือแอพฯ และ
                (ข) เครือข่ายโฆษณาที่รวบรวมข้อมูลเกี่ยวกับความสนใจของคุณเมื่อคุณดูหรือโต้ตอบกับโฆษณาที่พวกเขาวางไว้บนเว็บไซต์ต่าง ๆ บนอินเทอร์เน็ต
                โดยข้อมูลที่รวบรวมโดยบุคคลที่สามเหล่านี้เป็นข้อมูลที่สามารถระบุตัวบุคคลซึ่งไม่ใช่ข้อมูลส่วนบุคคลที่ใช้ในการคาดการณ์เกี่ยวกับลักษณะความสนใจ
                หรือความพึงพอใจของคุณและเพื่อแสดงโฆษณาบนเว็บไซต์ และผ่านทางอินเทอร์เน็ตที่เหมาะกับความสนใจของคุณ
                • บุคคลที่สาม ที่เราอนุญาตให้รวบรวมข้อมูลในเว็บไซต์ ได้นั้นเป็นสมาชิกของ Network Advertising Initiative ซึ่งได้มีการระบุข้อความ(ตำแหน่ง)
                ไว้เพื่อให้สมาชิกของบริษัทสามารถยกเลิกการให้ข้อมูลได้ หากคุณต้องการยกเลิกโปรดไปที่ลิงค์ : https://livehelper-hady.firebaseapp.com/choices
                และทำตามคำแนะนำที่ระบุในหน้าดังกล่าว หรือสามารถยกเลิกผ่านทางลิงค์ https://livehelper-hady.firebaseapp.com/choices/ สุดท้าย
                คุณก็จะสามารถจัดการกับประเภทของคุกกี้ที่ได้รับอนุญาตผ่านทางการตั้งค่าบราวเซอร์ของคุณรวมถึงการบล็อกคุกกี้ทั้งหมดหากคุณต้องการได้
                สำหรับข้อมูลเกี่ยวกับวิธีการจัดการคุกกี้ในบราวเซอร์ของคุณนั้น โปรดดูที่ส่วนความช่วยเหลือของบราวเซอร์ที่คุณใช้งานอยู่
            1.3 ข้อมูลอุปกรณ์เคลื่อนที่และบราวเซอร์บนโทรศัพท์มือถือ คุณสามารถปรับการตั้งค่าบนอุปกรณ์เคลื่อนที่และบราวเซอร์บนโทรศัพท์มือถือ ของคุณเกี่ยวกับคุกกี้
            และการแบ่งปันข้อมูลบางอย่าง เช่น รูปแบบอุปกรณ์เคลื่อนที่หรือภาษาที่อุปกรณ์เคลื่อนที่ของคุณใช้ โดยปรับการตั้งค่าความเป็นส่วนตัวและความปลอดภัย
            บนโทรศัพท์มือถือของคุณได้ โปรดอ่านคำแนะนำจากผู้ให้บริการโทรศัพท์มือถือหรือผู้ผลิตอุปกรณ์เคลื่อนที่ของคุณอีกครั้ง
            1.4 ข้อมูลตำแหน่งที่ตั้ง หากคุณเปิดใช้งานบริการตำแหน่งที่ตั้งบนอุปกรณ์เคลื่อนที่ของคุณอยู่ เว็บไซต์ จะได้รับอนุญาตจากคุณให้เก็บข้อมูลตำแหน่ง
            ของอุปกรณ์ของคุณ ซึ่งเราจะใช้เพื่อให้ข้อมูลและโฆษณาแก่คุณ หากต้องการปิดการใช้งานดังกล่าวนี้ คุณก็สามารถปิดการใช้งานบริการระบุตำแหน่งบน
            อุปกรณ์เคลื่อนที่ของคุณได้
            1.5 การจัดการอีเมล คุณอาจได้รับอีเมลจากเรา ด้วยเหตุผลหลายประการ ตัวอย่างเช่น ถ้าคุณดำเนินการผ่านบริการคุณลงชื่อสมัครรับรายงานต่าง ๆ
            เป็นประจำ หรือคุณได้โพสต์เพื่อประกาศหาขาย ให้เช่า หาซื้อ หาเช่า และผู้ใช้อื่น ๆ ได้ส่งข้อความถึงคุณ หากคุณมีบัญชีกับเว็บไซต์อยู่ คุณก็จะสามารถแก้ไข
            ค่ากำหนดของคุณได้โดยใช้การตั้งค่าบัญชีของคุณ นอกจากนี้คุณยังสามารถจัดการการรับการสื่อสารบางประเภทได้โดยทำตามคำแนะนำในอีเมลที่เราส่งให้คุณ
            โปรดทราบว่าแม้ว่าคุณจะยกเลิกการรับอีเมลบางฉบับแล้ว แต่เราก็อาจต้องการส่งอีเมลถึงคุณเกี่ยวกับข้อมูลการทำธุรกรรมหรือข้อมูลการจัดการที่สำคัญได้

    <b>2. วัตถุประสงค์ของการใช้งาน</b>
        2.1 ข้อมูลส่วนบุคคลที่คุณได้ให้ไว้อาจถูกนำมาใช้และประมวลผลโดยรวมหรือแยกกัน และอาจรวมเข้ากับข้อมูลอื่นๆ เพื่อวัตถุประสงค์ในการจัดการ
            และใช้งานเว็บไซต์และแอพฯ ในขอบเขตซึ่งอาจรวมถึงแต่ไม่จำกัดเพียง
            • การบริหารเว็บไซต์และบริการต่าง ๆ ของเรา
            • ปรับปรุงประสบการณ์การท่องเว็บของคุณด้วยการปรับเปลี่ยนเว็บไซต์และบริการต่าง ๆ ของเราให้เป็นส่วนตัว
            • ทำให้คุณสามารถใช้บริการต่าง ๆ ที่มีอยู่ในเว็บไซต์และบริการต่าง ๆ ของเราได้
            • จัดหาผลิตภัณฑ์และบริการที่คุณขอเป็นการเฉพาะได้
            • ตอบคำถามหรือข้อเรียกร้องตามอีเมล และ/หรือการส่งแบบฟอร์มของคุณบนเว็บไซต์หรือบริการต่าง ๆ ของเราได้
            • ตอบสนองและดำเนินการติดตามผลการร้องเรียนเกี่ยวกับการใช้งานเว็บไซต์ หรือผลิตภัณฑ์หรือบริการใด ๆ ที่เราให้บริการ
            • ส่งการสื่อสารเชิงพาณิชย์ทั่วไป (ที่ไม่เกี่ยวข้องกับการตลาด)
            • ปฏิบัติหน้าที่ของสำนักงานและการบริหารงาน และให้ข้อมูลที่เป็นข้อมูลสถิติเกี่ยวกับผู้ใช้ของเราแก่บุคคลที่สาม ข้อมูลทางสถิติดังกล่าวอาจใช้เพื่อปรับเปลี่ยน
            โฆษณาบนเว็บไซต์และบริการต่างๆ ของเรา แต่เพียงอย่างเดียว โดยไม่สามารถใช้เพื่อระบุผู้ใช้แต่ละรายได้ สำหรับรายละเอียดเกี่ยวกับวิธีการเลือกไม่รับโฆษณา
            ที่ปรับเปลี่ยนในแบบของคุณนั้นโปรดดูที่ข้อ 6 ของนโยบายความเป็นส่วนตัวนี้
        2.2 เราจะไม่เปิดเผยข้อมูลส่วนบุคคลของคุณแก่บุคคลที่สามโดยไม่ได้รับความยินยอมอย่างชัดแจ้งจากคุณเพื่อวัตถุประสงค์ในการทำการตลาดโดยตรง
        การยินยอมให้มีการเปิดเผยข้อมูลส่วนบุคคลแก่บุคคลที่สามเพื่อวัตถุประสงค์ในการรับการสื่อสารการตลาดจะกระทำโดยผ่านแบบฟอร์มการลงทะเบียนของเราไม่ว่า
        จะทางออนไลน์หรือในเอกสาร โดยคุณสามารถบอกเลิกความยินยอมได้โดยติดต่อฝ่ายบริการลูกค้าของเรา https://livehelper-hady.firebaseapp.com/contact_us/
        หากคุณให้ความยินยอมเมื่อลงทะเบียนเป็นสมาชิกบนเว็บไซต์นี้ คุณก็สามารถบอกเลิกการยินยอมของคุณได้โดยการไปที่แบบฟอร์มการลงทะเบียน
        ออนไลน์ : https://livehelper-hady.firebaseapp.com/user_profile และเอาเครื่องหมายถูกออกจากกล่องการให้ความยินยอม
        
    <b>3. ความปลอดภัย</b>
        3.1 เราจะใช้มาตรการป้องกันทางเทคนิคและการจัดการที่เหมาะสมเพื่อป้องกันการสูญหาย การนำไปใช้ที่ผิดวัตถุประสงค์หรือเปลี่ยนแปลงข้อมูลส่วนบุคคลของคุณ
        3.2 เราจะจัดเก็บข้อมูลส่วนบุคคลทั้งหมดที่คุณให้ไว้ในเซิร์ฟเวอร์ที่ปลอดภัยในรูปแบบที่ต้องเข้าผ่านรหัส
        3.3 คุณเข้าใจดีว่าการส่งข้อมูลผ่านทางอินเตอร์เน็ตนั้นไม่ปลอดภัยอย่างสมบูรณ์ แม้ว่าเราจะพยายามอย่างดีที่สุดเพื่อปกป้องข้อมูลส่วนบุคคลของคุณ
        แต่เราก็ไม่สามารถรับประกันความปลอดภัยของข้อมูลส่วนบุคคลของคุณที่ส่งไปยังเว็บไซต์ได้ คุณต้องรับผิดชอบในการส่งข้อมูลใดๆ ก็ตามด้วยตัวคุณเอง
        3.4 สำหรับรหัสผ่านที่คุณเลือก (หรือที่เราให้คุณ) เพื่อเข้าถึงบางส่วนของเว็บไซต์หรือแอพฯ นั้น คุณมีหน้าที่รับผิดชอบในการรักษารหัสผ่านนี้ไว้เป็นความลับ
        เราขอให้คุณไม่เปิดเผยรหัสผ่านให้กับบุคคลใดๆ เราจะไม่ขอรหัสผ่านจากคุณ เว้นแต่เมื่อคุณต้องการ Log-in เข้าสู่เว็บไซต์ แล้วแต่กรณี
        3.5 เราขอให้คุณดำเนินการเพื่อรักษาข้อมูลส่วนบุคคลของคุณอย่างปลอดภัยเช่นเลือกรหัสผ่านที่รัดกุมและรักษาความเป็นส่วนตัวรวมถึงการออกจากระบบบัญชีผู้ใช้
        ของคุณและปิดเว็บบราวเซอร์ของคุณเมื่อใช้บริการของเราเสร็จสิ้นในรูปแบบที่ใช้ร่วมกัน
    
    <b>4. การเปิดเผยข้อมูลส่วนบุคคล</b>
        4.1 ในการจัดการและใช้งานเว็บไซต์และแอพฯ นั้น เราอาจเปิดเผยข้อมูลส่วนบุคคลของคุณแก่สมาชิกในกลุ่มของเราซึ่งหมายรวมถึงบริษัทในเครือและบริษัทย่อยของเรา
        นอกจากนี้เราอาจเปิดเผยข้อมูลส่วนบุคคลของคุณแก่บุคคลที่สาม เช่นผู้ให้บริการและที่ปรึกษาทางวิชาชีพเพื่อวัตถุประสงค์ดังต่อไปนี้
            • เพื่อให้สอดคล้องกับข้อกำหนดทางกฎหมายใด ๆ เพื่อบังคับใช้หรือใช้ข้อกำหนดในการให้บริการของเรา https://livehelper-hady.firebaseapp.com/privacy
            และข้อตกลงอื่นๆ
            • เพื่อปกป้องสิทธิ ทรัพย์สินและความปลอดภัยของเรา ตลอดจนสิทธิ ทรัพย์สินและความปลอดภัยของบริษัทในเครือ ผู้ใช้งานอื่นๆ ของเว็บไซต์ และอื่นๆ
            • เกี่ยวข้องกับกระบวนการทางกฎหมายหรือการดำเนินคดีทางกฎหมาย
            • เกี่ยวกับการทำธุรกรรมทางด้านธุรกิจ (เช่น การซื้อ การขาย การเช่า การให้เช่า การควบกิจการหรือการรวมกิจการหรือการได้มา การจำหน่าย
            • หรือการจัดหาเงินทุนขององค์กรหรือส่วนหนึ่งส่วนใดขององค์กรหรือธุรกิจใดๆ หรือทรัพย์สินขององค์กร) ที่เราเข้าไปเป็นคู่สัญญาฝ่ายหนึ่งหรือ
            • อาจต้องเข้าไปเป็นคู่สัญญา
            
    <b>5. การถ่ายโอนข้อมูลระหว่างประเทศ</b>
        5.1 เราดำเนินธุรกิจในหลายประเทศและอาจต้องทำการจัดเก็บ ประมวลผลหรือถ่ายโอนข้อมูลส่วนบุคคลของคุณชั่วคราวไปยังประเทศที่เราดำเนินธุรกิจ
        เพื่อให้เราสามารถใช้ข้อมูลส่วนบุคคลของคุณได้ตามนโยบายส่วนบุคคลและข้อกำหนดในการให้บริการที่ระบุอยู่ใน https://livehelper-hady.firebaseapp.com/privacy
        5.2 เราจะปฏิบัติติตามขั้นตอนทั้งหมดที่จำเป็น เพื่อให้มั่นใจได้ว่าข้อมูลส่วนบุคคลของคุณได้รับการดูแลอย่างปลอดภัยและสอดคล้องกับนโยบายความเป็นส่วนตัวนี้

    <b>6. เว็บไซต์ของบุคคลที่สาม</b>
        6.1 เว็บไซต์ ของเราอาจมีลิงค์มาจากเว็บไซต์ของเครือข่าย คู่ค้าและผู้จัดจำหน่ายของเรา ซึ่งหากคุณเชื่อมต่อลิงค์ไปยังเว็บไซต์ต่าง ๆ เหล่านั้น โปรดทราบว่า
        เว็บไซต์เหล่านั้นต่างมีนโยบายความเป็นส่วนตัวของตัวเองโดยเฉพาะ และเราไม่มีส่วนเกี่ยวข้องใดๆ ต่อนโยบายดังกล่าวนั้นด้วย ดังนั้นโปรดตรวจสอบนโยบายดังกล่าว
        ก่อนที่คุณจะส่งข้อมูลส่วนบุคคลไปยังเว็บไซต์เหล่านั้น
    
    <b>7. ข้อจำกัดความรับผิดชอบ</b>
        7.1 เราจะไม่รับผิดชอบต่อการเปิดเผยข้อมูลส่วนบุคคลโดยความสมัครใจของคุณเองให้แก่ผู้ใช้รายอื่นที่เกี่ยวข้องกับการใช้เว็บไซต์หรือแอพฯ แล้วแต่กรณี
        
    <b>8. ข้อจำกัดความรับผิดชอบ</b>
        8.1เราจะไม่รับผิดชอบต่อการเปิดเผยข้อมูลส่วนบุคคลโดยความสมัครใจของคุณเองให้แก่ผู้ใช้รายอื่นที่เกี่ยวข้องกับการใช้เว็บไซต์หรือแอพฯ แล้วแต่กรณี
        
    <b>9.การติดต่อเรา</b>
        9.1 หากคุณต้องการข้อมูลเพิ่มเติมเกี่ยวกับการรักษาข้อมูลส่วนบุคคลของคุณ กรุณาติดต่อเราที่ support@livehelper-hady.firebaseapp.com
            </pre>
        </mat-card-content>
    </mat-card>
</div>