<mat-toolbar>
  <mat-toolbar-row>
    <span routerLink="/">LiveHelper</span>
    <button mat-button [matMenuTriggerFor]="aboutUsMenu" class="margin">{{'header.aboutUs' | translate}}
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #aboutUsMenu="matMenu">
      <button mat-menu-item routerLink="/policy">{{'header.policy' | translate}}</button>
    </mat-menu>
    <span class="menu-spacer"></span>

    <ng-container *ngIf="user; else anonymousUser">
      <button mat-button [matMenuTriggerFor]="menu">
        <img mat-card-avatar [src]="user.photoURL" class="thumbnail">{{user.displayName}}
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/products">
          <fa-icon [icon]="faTasks"></fa-icon> {{'header.manageProducts' | translate}}
        </button>
        <button mat-menu-item routerLink="/product/new">
          <fa-icon [icon]="faPlusCircle"></fa-icon> {{'header.addProduct' | translate}}
        </button>
        <button mat-menu-item routerLink="/order">
          <fa-icon [icon]="faList"></fa-icon> {{'header.customerOrders' | translate}}
        </button>
        <button mat-menu-item routerLink="/setting">
          <fa-icon [icon]="faUserCog"></fa-icon> {{'header.setting' | translate}}
        </button>
        <button mat-menu-item (click)="logout()">
          <fa-icon [icon]="faSignOutAlt"></fa-icon> {{'header.logout' | translate}}
        </button>
      </mat-menu>

    </ng-container>
    <ng-template #anonymousUser>
      <button mat-raised-button color="primary" (click)="login()" [disabled]="loginBtnDisable">
        <fa-icon [icon]="faFacebook"></fa-icon> {{'header.login' | translate}}
      </button>
    </ng-template>
    <button mat-button [matMenuTriggerFor]="languageMenu">
      <img [src]="language.image"> {{language.display}}
    </button>
    <mat-menu #languageMenu="matMenu">
      <button mat-menu-item (click)="switchLang('th')">
        <img src="/assets/images/flag/th.png"> ไทย
      </button>
      <button mat-menu-item (click)="switchLang('en')">
        <img src="/assets/images/flag/en.png"> English
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>