<mat-form-field>
    <mat-label>{{'dataTable.filter' | translate}}</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
            <td mat-cell *matCellDef="let row">

                <container-element [ngSwitch]="column">
                    <a mat-button color="primary" *ngSwitchCase="'manageProduct.displayedColumns.edit' | translate"
                        [routerLink]="['/product/edit/',row.id]">{{'manageProduct.displayedColumns.edit' | translate}}</a>
                    <a mat-button color="accent" (click)="delete(row)"
                        *ngSwitchCase="'manageProduct.displayedColumns.deleteBtn' | translate">{{'manageProduct.displayedColumns.deleteBtn' | translate}}</a>
                    <span *ngSwitchDefault>{{row[column] | summary}}</span>
                </container-element>
            </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>