<div class="data-table" *ngIf="orders">
    <div class="right">
        <mat-form-field appearance="fill">
            <mat-label value="all">{{'order.selcetPage' | translate}}</mat-label>
            <mat-select [(value)]="selected" (selectionChange)="onSelectPage()">
                <mat-option value="all">{{'order.all' | translate}}</mat-option>
                <mat-option *ngFor="let page of pages" [value]="page">
                    {{page.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <app-data-table [displayedColumns]="displayedColumns" [items]="orders" (productIdEvent)="onProductIdChange($event)">
    </app-data-table>
</div>