<ng-container *ngIf="user">
    <div class="str-btn">
        <ng-template #play>
            <button mat-raised-button color="primary" class="margin"
                (click)="startApp()">{{'home.startApp' | translate}}
                <fa-icon [icon]="faPlayCircle"></fa-icon>
            </button>
        </ng-template>

        <button mat-raised-button color="accent" class="margin" (click)="stopApp()"
            *ngIf="isConnected;else play">{{'home.stopApp' | translate}}
            <fa-icon [icon]="faStopCircle"></fa-icon>
        </button>
        <fa-icon class="margin" [ngClass]="{'red': !isConnected, 'green': isConnected}" [icon]="faCircle"></fa-icon>
        <span>
            <span *ngIf="isConnected;else notConnect">{{'home.connected' | translate}} </span>
            <ng-template #notConnect> <span>{{'home.NotConnect' | translate}} </span></ng-template>
        </span>

        <div class="display-info">
            <span class="page-name" *ngIf="selectedPage?.page">Page Name: {{selectedPage.page?.name}}</span>
            <span class="page-name" *ngIf="selectedPage?.liveId">Live Id : {{selectedPage.liveId}}</span>
        </div>

    </div>
    <!-- <div class="str-btn">
        <button mat-raised-button color="accent" (click)="test()">Test</button>
    </div> -->
</ng-container>


<div class="flex-card">
    <ng-container *ngFor="let product of products">
        <div class="card-margin" [routerLink]="['/product/edit/',product.id]"
            (contextmenu)="onContextMenu($event, product)">
            <app-card [product]="product" [imageUrl]="product.protoUrl"></app-card>
        </div>
    </ng-container>
</div>

<div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-item="item">
        <button mat-menu-item (click)="onContextMenuDelete(item)">{{'home.delete' | translate}}</button>
        <button mat-menu-item (click)="onContextMenuDuplicateProduct(item)">{{'home.duplicate' | translate}}</button>
    </ng-template>
</mat-menu>