.flex-card {
    display: flex;
    flex-wrap: wrap;
}

.card-margin {
    margin: 15px;
}

.str-btn {
    margin: 10px;
}

.home-margin {
    margin: 0 20%;
}

.page-name {
    margin: 10px;
}

.margin {
    margin: 0 5px;
}

.display-info {
    margin: 10px;
}

.red {
    color: red;
}

.green{
    color: green;
}


@media screen and (max-width: 600px) {
    .flex-card {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .str-btn {
        margin: auto;
    }
}
