<div class="main-layout">
    <div class="margin-center">
        <form class="center" #f="ngForm">
            <mat-form-field appearance="fill" class="setting-form">
                <mat-label>{{'setting.bankAccount' | translate}}</mat-label>
                <textarea matInput name="bankAccount" [(ngModel)]="setting.bankAccount"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill" class="setting-form">
                <mat-label>{{'setting.thanksMessage' | translate}}</mat-label>
                <textarea matInput name="thanksMessage" [(ngModel)]="setting.thanksMessage"></textarea>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="save()">
                <span>{{'common.save' | translate}}</span>
            </button>
            <!-- <a mat-raised-button color="accent" routerLink="/products">{{'common.cancel' | translate}}</a> -->
        </form>
    </div>
</div>