.product-form-field {
    width: 85%;
}

.form-product {
    margin: 30px 0px;
    text-align: center;
}

button {
    margin-right: 8px;
}

.product-form-img {
    margin: 10px auto;
    width: 85%;
}



