<mat-grid-list [cols]="cols" [rowHeight]="rowHeight" (window:resize)="onResize($event)">
    <mat-grid-tile colspan="1" *ngIf="!isMobile"></mat-grid-tile>
    <mat-grid-tile [colspan]="colspan">
        <div class="form-product">
            <form #f="ngForm" (ngSubmit)="save(f.value)">
                <mat-form-field class="product-form-field">
                    <mat-label>{{'productForm.title' | translate}}</mat-label>
                    <input matInput type="text" #title="ngModel" [(ngModel)]="product.title" name="title" required>
                    <mat-error *ngIf="title.touched && title.invalid">
                        {{'productForm.titleIs' | translate}}<strong> {{'productForm.required' | translate}}</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="product-form-field">
                    <mat-label>{{'productForm.productDetail' | translate}}</mat-label>
                    <textarea matInput [(ngModel)]="product.detail" name="detail"></textarea>
                </mat-form-field>
                <mat-form-field class="product-form-field">
                    <mat-label>{{'productForm.price' | translate}}</mat-label>
                    <input matInput type="number" #price="ngModel" [(ngModel)]="product.price" name="price" required
                        [min]="0" pattern="^(0*[0-9][0-9]*(\.[0-9]*)?|0*\.[0-9]*[1-9][0-9]*)$">
                    <span matSuffix>฿</span>
                    <mat-error *ngIf="price.touched && price.invalid">
                        <div *ngIf="price.errors.required"> {{'productForm.priceIs' | translate}}
                            <strong>{{'productForm.required' | translate}}</strong> </div>
                        <div *ngIf="price.errors.pattern"> {{'productForm.priceShouldBe' | translate}}
                            <strong>{{'productForm.0OrHigher' | translate}} </strong> </div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="product-form-field">
                    <mat-label>{{'productForm.quantity' | translate}}</mat-label>
                    <input matInput type="number" #quantity="ngModel" [(ngModel)]="product.quantity" name="quantity"
                        required [min]="0" pattern="^(0*[0-9][0-9]*(\.[0-9]*)?|0*\.[0-9]*[1-9][0-9]*)$">
                    <mat-error *ngIf="quantity.touched && quantity.invalid">
                        <div *ngIf="quantity.errors.required"> {{'productForm.quantityIs' | translate}}
                            <strong>{{'productForm.required' | translate}}</strong> </div>
                        <div *ngIf="quantity.errors.pattern"> {{'productForm.quantityShouldBe' | translate}}
                            <strong>{{'productForm.0OrHigher' | translate}} </strong> </div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="product-form-field">
                    <mat-label>{{'productForm.code' | translate}}</mat-label>
                    <input matInput type="text" #code="ngModel" [(ngModel)]="product.code" name="code" required>
                    <mat-error *ngIf="code.touched && code.invalid">
                        {{'productForm.codeIs' | translate}}<strong> {{'productForm.required' | translate}}</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="product-form-field">
                    <mat-label>{{'productForm.colour' | translate}}</mat-label>
                    <input matInput type="text" [(ngModel)]="product.color" name="color">
                </mat-form-field>

                <mat-form-field class="product-form-field">
                    <mat-label>{{'productForm.size' | translate}}</mat-label>
                    <input matInput type="text" [(ngModel)]="product.size" name="size">
                </mat-form-field>



                <div class="center product-form-img">
                    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" [multiple]="false">
                        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                            <button type="button" mat-raised-button
                                (click)="openFileSelector()">{{'common.browse' | translate}}</button>
                            {{'common.dropfiles' | translate}}
                        </ng-template>
                    </ngx-file-drop>
                </div>


                <button mat-raised-button color="primary" [disabled]="f.invalid">
                    <span *ngIf="!id; else update"> {{'common.submit' | translate}}</span>
                    <ng-template #update>
                        <span>{{'common.update' | translate}}</span>
                    </ng-template>
                </button>
                <a mat-raised-button color="accent" routerLink="/products">{{'common.cancel' | translate}}</a>
            </form>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspan">
        <app-card [product]="product" [imageUrl]="imageUrl"></app-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" *ngIf="!isMobile"></mat-grid-tile>
</mat-grid-list>

<!-- <div class="upload-table">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody class="upload-name-style">
            <tr *ngFor="let item of files; let i=index">
                <td><strong>{{ item.relativePath }}</strong></td>
            </tr>
        </tbody>
    </table>
</div> -->