<div class="snack-flex">
    <fa-icon class="icon" [icon]="data?.icon "></fa-icon>
    <span>{{ data?.message }}</span>
    <button mat-button color="accent" (click)="snackBarRef.dismiss()">{{ data?.action }}</button>
</div>