/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-figure {
    align-items: flex-start !important;
}

.error-snackbar {
    background-color: #780000;
    color: white;
}

.success-snackbar {
    background: #398e3f;
}

.info-snackbar {
    background: rgb(71, 71, 204);
}

.warning-snackbar {
    background: orange;
}

.main-layout {
    margin: 0px 20%;
}

@media screen and (max-width: 600px) {
    .main-layout {
        margin: 0px;
    }
}
