<h4>{{'dailog.fillInformation' | translate}}</h4>
<form class="dialog-form" #f="ngForm">
    <mat-form-field class="dialog-full-width">
        <mat-label>{{'dailog.liveID' | translate}}</mat-label>
        <input matInput  placeholder="Ex. 123456789" #liveId="ngModel" [(ngModel)]="selectedValue.liveId"
            name="liveId" required>
        <mat-error *ngIf="liveId.touched && liveId.invalid">
            LiveId is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="dialog-full-width">
        <mat-label> Your Page</mat-label>
        <mat-select [(ngModel)]="selectedValue.page" name="page" #page="ngModel" required>
            <mat-option *ngFor="let page of data" [value]="page">
                {{page.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="page.touched && page.invalid">
            Page is <strong>required</strong>
        </mat-error>
    </mat-form-field>


    <div mat-dialog-actions>
        <button mat-button (click)="onCancelClick()">Cancel</button>
        <button mat-button (click)="start()" [disabled]="f.invalid">Start</button>
    </div>
</form>